{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-8 lh-lg fs-5">

            <h1>Managing Your Music, Made Easy!</h1>
            <br>
            Please log in to begin.
            <br><br>

                <div class="col col-3">

                    <img src="{{ url_for('static', filename='images/musiclogin.jpeg') }}" width="800" height="auto"
                         class="img"
                         alt="...">
                </div>

        </article>
        {% if current_user.is_authenticated == false %}
            <aside class="col-4">
                <h2>Login</h2>
                <form action="{{ url_for('auth.login') }}" method=post>
                    <dl>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value=Login>
                </form>
            </aside>
        {% endif %}

    </div>
{% endblock %}
</article>
