{% extends "base.html" %}
<article>{% block content %}
    <h1>Welcome</h1>
    <br>
    <div class="container">
                Welcome to Panch's Music Database Application!
                <br><br>

                <div class="col col-3">

                    <img src="{{ url_for('static', filename='images/musicdatabase.jpeg') }}" width="1300" height="auto"
                         class="img"
                         alt="...">
                </div>

            </div>
        </article>
    </div>
{% endblock %}
</article>
